
<h1><%= @event.name %></h1>
<h2>Event created by:</h2>

<h3><%= @event.user.username %></h3>

<h2><%= attendace(@event) %></h2>
<ul>
  <% @event.invitations.each do |i |%>
    <li><%= i.attendee.username %></li>
  <% end %>
</ul>
