// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  line-height: 2px;
}

.previous_events {
  margin-top: 50px;
}

ul h4 {
  margin-left: -16px;
}
